@charset "utf-8";
.img_L {
  margin-right: 1em!important;
  margin-bottom: 1em!important;
  float: left;
}

.img_R {
  margin-left: 1em!important;
  margin-bottom: 1em!important;
  float: right;
}

.txt_L {
  margin-right: 1em!important;
  margin-top: 1em!important;
  float: left;
}

.txt_R {
  margin-left: 1em!important;
  margin-top: 1em!important;
  float: right;
}

.clear {
  clear: both;
}

