@charset "utf-8";
.pdn_0 {padding: 0!important;}
.pdn_top_0 {padding-top: 0!important;}
.pdn_btm_0 {padding-bottom: 0!important;}
.pdn_top_5 {padding-top: 5px!important;}
.pdn_btm_5 {padding-bottom: 5px!important;}
.pdn_top_10 {padding-top: 10px!important;}
.pdn_btm_10 {padding-bottom: 10px!important;}
.pdn_top_15 {padding-top: 15px!important;}
.pdn_btm_15 {padding-bottom: 15px!important;}
.pdn_top_20 {padding-top: 20px!important;}
.pdn_btm_20 {padding-bottom: 20px!important;}

.pdn_top_s {padding-top: 10px!important;}
.pdn_btm_s {padding-bottom: 10px!important;}
.pdn_top_m {padding-top: 30px!important;}
.pdn_btm_m {padding-bottom: 30px!important;}
.pdn_top_l {padding-top: 50px!important;}
.pdn_btm_l {padding-bottom: 50px!important;}

.pdn_tb_s {padding-top: 10px!important;padding-bottom: 10px!important;}
.pdn_tb_m {padding-top: 30px!important;padding-bottom: 30px!important;}
.pdn_tb_l {padding-top: 50px!important;padding-bottom: 50px!important;}

@media #{$media_middle}{
.pdn_top_s {padding-top: 10px!important;}
.pdn_btm_s {padding-bottom: 10px!important;}
.pdn_top_m {padding-top: 30px!important;}
.pdn_btm_m {padding-bottom: 30px!important;}
.pdn_top_l {padding-top: 50px!important;}
.pdn_btm_l {padding-bottom: 50px!important;}

.pdn_tb_s {padding-top: 10px!important;padding-bottom: 10px!important;}
.pdn_tb_m {padding-top: 30px!important;padding-bottom: 30px!important;}
.pdn_tb_l {padding-top: 50px!important;padding-bottom: 50px!important;}
}

@media #{$media_small}{
}