@charset "utf-8";
form {
  margin: 1em 0px;
  padding: 1px 0;
  background-color: #fafafa;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  color: #000;
  background-color: #fff;
  margin: 0 1em;
  padding: 0 10px;
}
label {
  cursor: default;
}

form dl,
form p {
}

fieldset {
}

legend {
}

input,
textarea {
}

input:hover,
textarea:hover {

}

input:focus,
textarea:focus {

}

textarea {
}

input.inputField {
  width: auto;
}

input.submit {
}

input.submit:hover {

}

input.radio {
}
