@charset "utf-8";
hr {
  border-top: dashed 1px #999999;
  border-right: none 0px #cccccc;
  border-left: none 0px #cccccc;
  border-bottom: none 0px #cccccc;
  height: 1px;
  margin: 10px 0 20px 0;
}
